<template>
  <div class="comments">
    <div class="individual_comment" v-for="comment in comments" :key="comment.timestamp">
      <h3>{{ comment.author }}</h3>
      <p>{{ comment.text }}</p>
      <time>{{ prettyDate(comment.timestamp) }}</time>
    </div>
  </div>

</template>

<script>
import { mapState } from 'vuex'
var hdate = require('human-date')

export default {
  name: 'CommentsViewer',
  computed: {
    ...mapState('comments', {
      comments: 'comments'
    })
  },
  methods: {
    prettyDate (ts) {
      return hdate.prettyPrint(new Date(ts), { showTime: true })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.comments {
  color: black;
  background: #f4f4f4;
  width: 16rem;
  display: flex;
  flex-direction: column;
  margin-bottom: none;
}
.individual_comment {
  background: white;
  border: 2px #19a974 solid;
  border-radius: 0.125rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
h3 {
  color: white;
  background: #19a974;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  float: left;
  text-align: left;
  margin: 0.5rem;
}
time {
  font-style: italic;
  font-size: 0.75rem;
  font-weight: lighter;
  text-align: right;
  color: #444;
  margin: 0.25rem;
}
</style>
