<template>
  <div class="add-comment-section" v-if="canComment">
    <div class="add-comment-form">
      <div id="author">
        <label for="author-name">Name:</label>
        <input id="author-name" type="text" require minlength="1" v-model="author">
       </div>
      <textarea placeholder='leave a comment' v-model="comment" @keyup.enter="publish"/>
      <button @click="publish">Post</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CommentsNew',
  data: function () {
    return {
      comment: ''
    }
  },
  computed: {
    ...mapGetters('svg', {
      canComment: 'canComment'
    }),
    author: {
      get () { return this.$store.state.comments.author },
      set (value) {
        this.$store.commit('comments/setAuthor', value)
      }
    }
  },
  methods: {
    publish: function () {
      // TODO provide errors/feedback on form failure
      this.$store.dispatch('comments/publishComment', this.comment)
      // TODO wait for successful publish?
      this.comment = ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.add-comment-section {
  margin-top: none;
  width: 16rem;
  color: black;
  background: #f4f4f4;
}
.add-comment-form {
  background: white;
  border: 2px #357edd solid;
  border-radius: 0.125rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#author {
  background: #357edd;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}
input#author-name {
 color: #357edd;
 font-weight: bold;
 margin-left: 1rem;
 width: 9rem;
}
button {
  color: white;
  background: #357edd;
  font-weight: bold;
  border: none;
}
</style>
