<template>
  <div>
    <div class="has-comments-outline" v-for="shape in shapes"
      :key="key(shape)"
      :style="{ width: width(shape), height: height(shape), left: left(shape), top: top(shape) }">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CommentHighlight',
  props: {
    shapes: Array
  },
  methods: {
    key (shape) {
      const { x, y, w, h } = shape.rbox()
      return [ x, y, w, h ].join('')
      // return shape.__ob__.dep.id
    },
    left (shape) { return shape.rbox().x + 'px' },
    top (shape) { return shape.rbox().y + 'px' },
    width (shape) { return shape.rbox().w + 'px' },
    height (shape) { return shape.rbox().h + 'px' }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.has-comments-outline {
  border: 2px solid #ff4136;
  opacity: 0.7;
  border-radius: 2px;
  position: absolute;
  pointer-events: none;
}
</style>
