<template>
<div>
  <button id="download-btn" type="submit" @click="downloadSVG()">
    <span>Download your SVG</span>
  </button>
</div>

</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'DownloadButton',
  methods: {
    ...mapActions('svg', {
      downloadSVG: 'download'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
