<template>
<div>
  <label for="upload">Upload SVG:</label>
  <input id="upload" type="file" accept=".svg" @change="selectSVG()">
</div>

</template>

<script>
export default {
  name: 'LoadImageButton',
  methods: {
    selectSVG () {
      let file = document.getElementById('upload').files[0]
      const fileName = document.getElementById('upload').files[0].name
      let text = new Response(file).text()
      text.then(svgText => {
        return this.$store.dispatch('svg/upload', { fileName, svgText })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
