<template>
  <div>
    <CommentHighlight :shapes="commentedShapes" v-if='commentsVisible'/>
    <div ref='image'></div>
    <a ref="downloadLink" href="" download="" hidden></a>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CommentHighlight from './CommentHighlight.vue'
import { loadDrawing, getShapes, highlight, unHighlight } from '@/util/svg-helpers.js'

export default {
  name: 'SvgContainer',
  components: {
    CommentHighlight
  },
  data: function () {
    return {
      fileName: '',
      drawing: {},
      shapes: [],
      selectedShapes: [],
      commentedShapes: []
    }
  },
  computed: {
    ...mapState('comments', {
      commentsVisible: 'visible'
    })
  },
  methods: {
    svgLoad,
    svgDownload,

    handleShapeClick,
    setCommentsOnSelectedShape,
    loadCommentedShapes () {
      this.commentedShapes = this.shapes.filter(shape => shape.data('comments'))
    },
    clearSelections () {
      this.$store.commit('comments/reset')
      this.$store.commit('svg/reset')
      this.selectedShapes = []
    }
  },
  watch: {
    selectedShapes (newSS, oldSS) {
      oldSS.forEach(unHighlight)
      newSS.forEach(highlight)

      this.$store.commit('svg/setState', { selectedCount: newSS.length })
      this.$store.commit('comments/setComments', getComments(newSS))

      function getComments (selectedShapes) {
        return selectedShapes.length === 1
          ? (selectedShapes[0].data('comments') || [])
          : []
      }
    },
    shapes (newShapes, oldShapes) {
      this.loadCommentedShapes()

      oldShapes.forEach(shape => shape.off('click'))
      newShapes.forEach(shape => {
        shape.click((ev) => {
          this.handleShapeClick(shape, { groupMode: ev.shiftKey })
        })
      })
    }
  },
  created () {
    this.$store.subscribeAction((action, state) => {
      switch (action.type) {
        case 'svg/setFilename':
          this.fileName = action.payload
          break
        case 'svg/setInnerHTML':
          this.svgLoad(action.payload)
          break
        case 'svg/setComments':
          this.setCommentsOnSelectedShape(action.payload)
          this.loadCommentedShapes()
          break
        case 'svg/download':
          this.svgDownload()
          break
        default:
      }
    })
  }
}

function svgLoad (innerHTML) {
  this.drawing = loadDrawing(this.$refs.image, innerHTML)
  this.shapes = getShapes()
}

function svgDownload () {
  // tidy up the view
  this.clearSelections()

  const link = this.$refs.downloadLink
  link.download = this.fileName.replace('.svg', '-edited.svg')
  // replace original file name with edited name
  link.href = 'data:text/html;charset=utf-8;base64,' + btoa(this.drawing.svg())
  // data URL, base64 data

  link.click()
}

function handleShapeClick (shape, { groupMode = false }) {
  const alreadySelected = this.selectedShapes.includes(shape)
  var newSelectedShapes
  if (groupMode) {
    if (alreadySelected) {
      newSelectedShapes = this.selectedShapes.filter(s => s !== shape)
    } else newSelectedShapes = [...this.selectedShapes, shape]
  } else {
    if (alreadySelected && this.selectedShapes.length === 1) {
      newSelectedShapes = []
    } else newSelectedShapes = [shape]
  }

  this.selectedShapes = newSelectedShapes
}

function setCommentsOnSelectedShape (comments) {
  if (this.selectedShapes.length !== 1) throw new Error('svg/setComment cannot be called unless there is exactly 1 selectedShape')
  this.selectedShapes[0].data('comments', comments)
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
