<template>
<div>
  <button v-on:click="toggleComments()">Toggle Comments Visibility</button>
</div>

</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'ToggleCommentsButton',
  methods: {
    ...mapMutations('comments', {
      toggleComments: 'toggle'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
