<template>
  <div id="app">
    <section id="toolbox">
      <LoadImageButton/>
      <DownloadButton/>
    </section>

    <section id="drawing">
      <SvgContainer v-once />
    </section>

    <section id="comments">
      <ToggleCommentsButton/>
      <div v-if="commentsVisible">
        <CommentsViewer/>
        <CommentsNew/>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import 'svg.select.js'

import LoadImageButton from './components/LoadImageButton.vue'
import DownloadButton from './components/DownloadButton.vue'
import ToggleCommentsButton from './components/ToggleCommentsButton.vue'
import CommentsViewer from './components/CommentsViewer.vue'
import CommentsNew from './components/CommentsNew.vue'

import SvgContainer from './components/SvgContainer.vue'

export default {
  name: 'app',
  components: {
    LoadImageButton,
    SvgContainer,
    DownloadButton,
    ToggleCommentsButton,
    CommentsViewer,
    CommentsNew
  },
  computed: {
    ...mapState('comments', {
      commentsVisible: 'visible'
    })
  }
}
</script>

<style>
#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 9fr;
  grid-auto-flow: column;

}
#toolbox {
  grid-column: 1;
}
#drawing {
  grid-column: 2;
}
#comments {
  grid-column: 3;
}

#image {
  max-width: 60vw;
  height: 80vh;
}

.svg_select_boundingRect {
  fill: none;
  stroke: hotpink;
  stroke-width: 2px;
}

.active-shape {
  stroke: blue;
  stroke-width: 2px;
}
</style>
